In [8]:
from packaging import version
import sklearn

assert version.parse(sklearn.__version__) >= version.parse("1.0.1")

In [9]:
import matplotlib.pyplot as plt

plt.rc('font', size=14)
plt.rc('axes', labelsize=14, titlesize=14)
plt.rc('legend', fontsize=14)
plt.rc('xtick', labelsize=10)
plt.rc('ytick', labelsize=10)

In [10]:

import sklearn
import warnings
 
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
 
warnings.filterwarnings('ignore')

In [11]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ranah\appdata\local\programs\python\python311\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\ranah\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ranah\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ranah\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ranah\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ranah\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:

import pandas as pd

In [13]:
df=pd.read_csv('5_yrs_data_of_wind.csv')

In [14]:
df

,DateTime,Air temperature,Pressure,Wind speed,Power generated by system
0,01-01-2019 01:00,10.926,0.979103,9.014,33.68810
1,01-01-2019 02:00,9.919,0.979566,9.428,37.26190
2,01-01-2019 03:00,8.567,0.979937,8.700,30.50290
3,01-01-2019 04:00,7.877,0.980053,8.481,28.41920
4,01-01-2019 05:00,7.259,0.979867,8.383,27.37030
...,...,...,...,...,...
46002,31-03-2024 19:00,27.835,0.973886,4.855,3.49390
46003,31-03-2024 20:00,28.390,0.973506,6.066,8.96133
46004,31-03-2024 21:00,28.487,0.973034,7.075,15.10510
46005,31-03-2024 22:00,28.555,0.972540,6.892,13.70680
46006,31-03-2024 23:00,27.944,0.972353,6.785,12.94460

In [15]:
df[['DateTime' ,'Pressure']]

               DateTime  Pressure
0      01-01-2019 01:00  0.979103
1      01-01-2019 02:00  0.979566
2      01-01-2019 03:00  0.979937
3      01-01-2019 04:00  0.980053
4      01-01-2019 05:00  0.979867
...                 ...       ...
46002  31-03-2024 19:00  0.973886
46003  31-03-2024 20:00  0.973506
46004  31-03-2024 21:00  0.973034
46005  31-03-2024 22:00  0.972540
46006  31-03-2024 23:00  0.972353

[46007 rows x 2 columns]

In [16]:
X = df.iloc[:,1:4]
y=df.iloc[:,4]

In [17]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
 


# Fitting Random Forest Regression to the dataset
regressor = RandomForestRegressor(n_estimators=100, random_state=42, oob_score=True)
 
# Fit the regressor with x and y data
regressor.fit(X, y)
print("done")

done

In [18]:
from sklearn.metrics import mean_squared_error, r2_score
 
# Access the OOB Score
oob_score = regressor.oob_score_
print(f'Out-of-Bag Score: {oob_score}')
 
# Making predictions on the same data or new data
predictions = regressor.predict(X)
 
# Evaluating the model
mse = mean_squared_error(y, predictions)
print(f'Mean Squared Error: {mse}')
 
r2 = r2_score(y, predictions)
print(f'R-squared: {r2}')

Out-of-Bag Score: 0.9997160949423808
Mean Squared Error: 0.011264100317146569
R-squared: 0.999962729144575

In [19]:
new_df=pd.read_csv('train.csv')
new_df

,DateTime,Air temperature,Pressure,Wind speed,Power generated by system
0,01-01-2024 00:00,6.609,0.988077,10.868,53.18100
1,01-01-2024 01:00,5.257,0.988969,10.679,51.90830
2,01-01-2024 02:00,4.374,0.989708,11.200,56.35400
3,01-01-2024 03:00,2.913,0.990171,10.962,54.93680
4,01-01-2024 04:00,1.152,0.990264,11.307,57.74310
...,...,...,...,...,...
2179,31-03-2024 19:00,27.835,0.973886,4.855,3.49390
2180,31-03-2024 20:00,28.390,0.973506,6.066,8.96133
2181,31-03-2024 21:00,28.487,0.973034,7.075,15.10510
2182,31-03-2024 22:00,28.555,0.972540,6.892,13.70680
2183,31-03-2024 23:00,27.944,0.972353,6.785,12.94460

In [20]:
new_X = new_df.iloc[:,1:4]
new_Y=new_df.iloc[:,4]
new_c={'Air temperature':-2.907,'Pressure':0.986184,'Wind speed':3.611}
new_c=pd.DataFrame([new_c])
new_c

   Air temperature  Pressure  Wind speed
0           -2.907  0.986184       3.611

In [ ]:

y_pred=regressor.predict(new_X)

y_pred
# new_df['predicted']=y_pred
# new_df.to_csv('new_train.csv', index=False)

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
score=regressor.score(new_X,new_Y)
score

In [ ]:
plt.figure(figsize=(8,6))
plt.scatter(new_Y,y_pred,color='blue', alpha=0.2)
plt.xlabel('act')
plt.ylabel('pred')
plt.title('')
plt.show()

In [ ]:
pip install seaborn

In [ ]:
import seaborn as sns